* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.img {
    width: 100px;
    height: 100px;
    border-radius: 50px;

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    background: border-box;

}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(195,148,138);
    background: linear-gradient(90deg, rgba(195,148,138,1) 50%, rgba(223,214,214,1) 100%);
}

.block {
    width: 250px;
    height: 250px;
    border-radius: 30px;
    flex-direction: column;
    color: white;
    position: relative;
    overflow: hidden;
    background: #acacac;
}

.icon, .cancel {
    position: absolute;
    width: 50px;
    height: 50px;
    background: gray;
    bottom: 0;
    right: 0;
    border-radius: 23px 0 23px 0;
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: pointer;
    transition: all .4s;
}

.icon i {
    transform: rotate(45deg);
}

.active-arr {
    transform: translate(80%, 80%);
}

.back-content {
    position: absolute;
    background: dimgrey;
    width: 100%;
    height: 100%;
    border-radius: 23px;
    padding: 40px 0 0 20px;
    transition: all .4s;
}

.off {
    transform: translate(-80%, -80%) rotate(90deg);
}

.active {
    transform: translate(0) rotate(0);
}

.back-content p {
    margin-bottom: 15px;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;

}

.back-content .skills div {
    display: inline-block;
    color: rgb(234, 244, 255);
    border: 1px solid rgb(255, 255, 255);
    padding: 5px 10px;
    font-size: 11px;
    margin: 4px 4px 4px 0;

}

.back-content .icons {
    font-size: 16px;
    margin-top: 10px;
}

.back-content .icons i {
    color: #cfcfcf;
    cursor: pointer;
    margin-right: 10px;
    transition: all .4s;
}

.back-content .icons i:hover {
    color: darkgrey;
}

.content {
    font-family: sans-serif;
    font-weight: bold;
}







